<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title | default .Site.Title }}</title>
  <meta name="description" content="{{ .Description | default .Site.Params.description }}">
  <link rel="icon" type="image/png" href="/images/logo.png">
  {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
